<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Friends</title>
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		Logged in as <font color=#008080>"{{user_name[0][0]}}"</font>.
		Not you? <a href="index">Sign out</a>

		<br><br><a href="post?id={{user_id}}&token={{token_passed}}">Return to posts</a>.
	
		<h1>Friends</h1>
		<table>
			<tr>
				<th>Name</th>

			</tr>
			{% for user in friends %}
			<tr>
				<td>{{user[0]}}</td>
				<td>

			{% endfor %}
		</table>		

		<h1>Friend requests</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Apply</th>
				<th>Reject</th>
			</tr>
			{% for user in friend_requests %}
			<tr>
				<td>{{user[0]}}</td>
				<td>
			<form action="/friends?id={{user_id}}&token={{token_passed}}" method="POST" 				class="form-contact">
				<input type="submit" name="Apply_{{user[1]}}" value="A">
			</form>
			</td>
				<td>
			<form action="/friends?id={{user_id}}&token={{token_passed}}" method="POST" 				class="form-contact">
				<input type="submit" name="Reject_{{user[1]}}" value="R">
			</form>
				</td>
			</tr>
			{% endfor %}
		</table>

		<h1>All users</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Invite</th>
			</tr>
			{% for user in all_users %}
			<tr>
				<td>{{user[0]}}</td>
				<td>
			<form action="/friends?id={{user_id}}&token={{token_passed}}" method="POST" 				class="form-contact">
				<input type="submit" name="Invite_{{user[1]}}" value="I">

			</form>
				</th>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
