<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Income</title>
	</head>
	<body>
		<h1>Incoming posts</h1>
		<h2>Private posts for {{username[0][0]}}</h2>
		<table>
			<tr>

				<th>Author</th>
				<th>Text</th>
			</tr>
			{% for msg in private_msg %}
			<tr>

				<td>{{msg[0]}}</td>
				<td>{{msg[1]}}</td>
			</tr>
			{% endfor %}
		</table>
		<h2>Public posts</h2>
		<table>
			<tr>
				<th>Author</th>
				<th>Text</th>
			</tr>
			{% for msg in public_msg %}
			<tr>

				<td>{{msg[0]}}</td>
				<td>{{msg[1]}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
