<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Outcome</title>
	</head>
	<body>
		<h1>Outcoming posts</h1>
		<h2>Author</h2>{{username}}
		<h2>Private posts</h2>
		<ul>
			{% for msg in private_msg %}
			<li>{{msg[0]}}</li>
			{% endfor %}
		</ul>
		<h2>Public posts</h2>
		<ul>
			{% for msg in public_msg %}
			<li>{{msg[0]}}</li>
			{% endfor %}
		</ul>
	</body>
</html>
