<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		Logged in as <font color=#008080>"{{user_name[0][0]}}"</font>.
		Not you? <a href="index">Sign out</a>

		<h1>Friends</h1>
		<table>
			<tr>
				<th>Name</th>
			</tr>
			{% for friend in friends %}
			<tr>
				<td>{{friend[0]}}</td>
			</tr>
			{% endfor %}
		</table>
		Somebody missing? <a href="friends?id={{user_id}}&token={{token_passed}}">Invite friend</a>
		<table>
		
		<h2><a href="income?id={{user_id}}&token={{token_passed}}">Income messages</a>
		<h2><a href="outcome?name={{user_name}}&token={{token_passed}}">Outcome messages</a>

		<table>
		<h1>Private posts</h1>
		<table class="table table-hover">
			{% for post in private_posts %}
			<tr>
				<td>
					{% if user_id == post[2] %}
					<font color=#0000FF>
					{% else %}
					<font color=#000000>
					{% endif %}
						<font color=#808000>"{{post[1]}}"</font> says:<br>
						{{post[0]}}
					</font>
				</td>
			</tr>
			{% endfor %}
		</table>
		Text box [>]

		<h1>Public posts</h1>
		<table class="table table-hover">
			{% for post in public_posts %}
			<tr>
				<td>
					{% if user_id == post[2] %}
					<font color=#0000FF>
					{% else %}
					<font color=#000000>
					{% endif %}
						<font color=#808000>"{{post[1]}}"</font> says:<br>
						{{post[0]}}
					</font>
				</td>
			</tr>
			{% endfor %}
		</table>

	
		<form action="/post?id={{user_id}}&token={{token_passed}}" method="POST" class="form-contact">
			<div class="form-group required"><label class="control-label" for="POST">Add public post</label>
				<textarea class="form-control" type="text" id="post" name="postpub" value="" required></textarea>
			<input type="submit" name="submit_pub" value="Submit_pub"/>
			</div>

		</form>
		<form action="/post?id={{user_id}}&token={{token_passed}}" method="POST" class="form-contact">
			<div class="input_area"><label class="control-label" for="POST">Add private post</label>
				<textarea class="form-control" id="post" name="postpriv" value="" required></textarea>
			<input type="submit" name="submit_priv" value="Submit_priv"/>
			</div>

		</form>
	</body>
</html>
