<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>{{ title }}</h1>
		<div>Welcome to the post based social network ...</div>
		{% for i,j in get_flashed_messages(True) %}
		<div class="flash {{i}}">{{j}}</div>
		{% endfor %}
		<form action="/" method="POST" class="form-contact"> 
		<p><label>Username: </label><input type="text" name="name" value="" required/>
		<p><label>Password: </label><input type="password" name="psw" value="" required/>
		<br>
		<br>
		<input type="submit" name="sign_in" value="Sign In">
		<input type="submit" name="sign_up" value="Sign Up">
		</form>
	</body>
</html>
